/* This Palette ?: https://icolorpalette.com/imagepalette/dish_pizza_cuisine-2 */

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Itim";
  scroll-behavior: smooth;
}

body {
  background-color: #ebedef;
  font-family: 'Montserrat Alternates', sans-serif;
}

main{
  /* background-image: url(../images/background-whitewood.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Header settings */

#header-image {
  background-image: url(../images/header-image.jpg);
  background-size: cover;
  background-position: top center;
  background-position: 58% 0;
  background-repeat: no-repeat;
  height: 100vh;
}

#header-headings {
  float: right;
  color: #111;
  text-align: right;
  padding-top: 350px;
  font-size: 1.3em;
  padding-right: 30px;
  font-family: 'Pacifico', cursive;
}

#header-headings h1:last-of-type{
  margin-bottom: 25px;
}

/* Desktop Nav settings */

.desktop-nav{
  display: flex;
  justify-content: space-between; 
  position: sticky;
  top: 0px;
  background-color: rgb(255,255,255);
  display: none;
  /* DISPLAY FLEX DESKTOP */
}

.desktop-nav .logo img{
  padding: 15px 20px;
  width:48px;
  height: 48px;
}

.main-nav {
  text-align: center;
}

.main-nav ul {
  margin: 15px 20px;
  list-style-type: none;
}

.main-nav ul li {
  display:inline-flex;
}

.main-nav ul li a {
  color: rgb(2, 75, 2);
  font-size: 1.3em;
  padding: 10px 15px;
  display: block;
  text-decoration: none;
}

.main-nav ul li:hover{
  color:rgb(2, 75, 2);
}

.main-nav ul li a:hover{
  color:inherit;
  border-bottom: 1px solid;
    margin-bottom: -1px;
}

#cart{
  color:white;
  background-color: #BE1E2D;
  margin-left: 20px;
  border-radius: 3px;

}

#cart:hover{
  background-color: #BE1E2D;
  border-radius: 10px;
}

/* Mobile Nav Settings */

.mobile-nav div ul{
  padding-top: 15px;
}

.navbar{
  background-color: rgb(2, 75, 2);
}

.navbar a{
  color: white;
}

.mobile-logo{
  width: 48px;
  height: 48px;
}

.mobile-nav button{
  padding:12px 10px;
  border: 2px solid white;
}

#mobile-cart{
  color:#941a26;
}

#mobile-cart:hover{
  color:#BE1E2D;
}

/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  }
  
  .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  }
  
  .animated-icon1 span {
  background: #e65100;
  }
  
  .animated-icon2 span {
  background: #e3f2fd;
  }
  
  .animated-icon3 span {
  background: #f3e5f5;
  }
  
  .animated-icon1 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon1 span:nth-child(2) {
  top: 10px;
  }
  
  .animated-icon1 span:nth-child(3) {
  top: 20px;
  }
  
  .animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  }
  
  .animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  }
  
  .animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  }
  
  /* Icon 3*/
  
  .animated-icon2 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
  }
  
  .animated-icon2 span:nth-child(4) {
  top: 20px;
  }
  
  .animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
  
  .animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  
  .animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  }
  
  .animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
  
  /* Icon 4 */
  
  .animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
  .animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
  .animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
  .animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
  }
  
  .animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
  }
  
  .animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
  }


.new-offer{
  margin:30px auto 15px;
  text-align: center;
}

.new-offer img{
  width: 80%; 
}

/* Card Settings */

.card-container{
  margin-top: 30px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.cards-header{
  text-align:center;
}

.card{
  flex: 1 0 300px;
  margin: 30px;
  padding:15px;
  background:#ECECEC;
  border:1px solid rgba(0, 0, 0, 0.4);
}

.card .card-img img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
}

.card .card-name, .card-description{
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.card-bottom-text{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  font-size: 1.5em;
  transform: translateX(-50%);
  padding-top: 15px;
  color: rgb(2, 75, 2);
}

.card-name{
  font-size: 1.6em;
}

.card-description{
  border-top: 1px solid grey;
  padding-top: 25px;
}

.fa-pizza-slice{
  padding-right: 10px;
  color:grey;
}

.separator{
  margin-bottom:30px 0;
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#about-separator{
  background-image: url(../images/pizza-in-oven.jpg);
  background-position: center;

}

#reviews-separator{
  background-image: url(../images/people-eating.jpg);
  background-position: top;
}

.separator-text{
  display:flex;
  flex-direction: column;
  justify-content:center;
  background-color: rgba(0,0,0,0.5);
  color:white;
  text-align: center;
  padding:20px;
  height: 500px;
}

.history-container{
  margin: 40px auto ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
}

.history-image-container{
  flex: 1 0 50%;
  height: 400px;
  text-align: center;
}

.history-image-container figure{
  width: 100%;
}

.history-container article{
  flex: 1 0 50%;
  margin-bottom: 30px;
}

.history-container article p{
  text-align: left;
  font-size: 1.1em;
  padding-top: auto;
}


/* Menu settings */

.mobile-pizza-menu {
  background: #ececec;
  display: flex;
  flex-wrap: wrap;
}

.pizza {
  position: relative;
  flex: 1 0 300px;
  margin: 20px 20px;
  /* border:1px solid rgba(0,0,0,.125); */
  border:1px solid rgba(0, 0, 0, 0.4);
  border-radius: .25rem;
  overflow: hidden;
}

.pizza-box {
  margin: 0 15px 100px;
}

.pizza figure{
  padding: 15px;
}

.pizza-image {
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(97, 0, 0, 0.125);
  border-bottom: 1px solid rgba(97, 0, 0, 0.61);
}

.mobile-pizza-header {
  text-align: center;
  font-size: 1.45em;
  font-weight: bold;
  margin: 5px 0;
  color: rgb(2, 75, 2);
}

.mobile-pizza-ingredients{
  text-align: center;
}

.size-button-container {
  margin: 10px auto;
  text-align: center;
  margin:0 auto;
}

.size-button, .servings-button {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 1.05em;
  border-radius: 100px;
  margin: 0 10px;
  cursor: pointer;
  border: 2px solid rgba(97, 0, 0, 0.61);
  color: rgb(97, 0, 0);
  
}

.order-button{
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  margin: 25px auto 15px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 1.2em;
  cursor: pointer;
  transform: translateX(-50%);
  border-radius: 5px;
  border: 2px solid rgba(97, 0, 0, 0.61);
  background-color: #941a26;
  color:white;
}

.order-button a{
  color:inherit;
}

.pizza-carousel-menu{
  margin:0 auto;
  padding-top: 30px;
}

.carousel-pizza-name{
  font-size: 2.5em;
  text-align: center;
}

.carousel-pizza-ingredients{
  text-align: center;
  margin-bottom: 30px;
}

.carousel-price-and-servings-container{
  text-align: center;
  display: flex;
  justify-content:space-around;
}

.carousel-pizza-buttons-container button, p{
  display: inline-block;
}

.carousel-pizza-directions{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.carousel-pizza-directions div{
  margin-bottom: 10px;
}

.carousel-pizzas img{
  width: 30%;
}

.carousel-pizzas figure {
 display: flex;
 flex-wrap: wrap;
}

.carousel-pizzas figure img{
  flex: 1 0 30%;
}

#carousel-order-button{
  border-radius: 60px;
}

.carousel-pizza-ingredients{
  justify-content: flex-end;
}

/*Contacts Settings*/



form{
  width: 70%;
  margin: 40px auto;
  border-radius: 5px;
  padding: 20px;
}

.info-container{
  text-align: center;
  border-bottom: 1px solid rgba(97, 0, 0, 0.61);
  width: 50%;
  margin: 40px auto;
}

form label,.info-article h3{
  font-size: 1.5em;
  color:rgb(2, 75, 2);
}

.info-article{
  margin-bottom: 10px;
}

.info-article h3{
  font-weight: normal;
}

.info-article h3 i{
  size:2;
  margin-right: 10px;
}

form input[type=text], select, input[type=date],input[type=email],input[type="tel"], textarea {
  width: 100%;
  padding: 12px;
  border:1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

form textarea{
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
}

form input[type=submit] {
  background-color: #fff;
  color: #941a26;
  border:1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  margin: 20px 0;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 1.2em;
  cursor: pointer;
}

.map iframe{
  width: 100%;
  height: 400px;
  border: none;
}

/* Footer Settings */

footer {
  background-color: #BE1E2D;
  text-align: center;
  margin:0;
}

.footer-credits-section{
  padding: 10px;
}

footer p {
  padding: 5px;
  text-align: center;
  font-size: 17px;
  color:white;
  margin: 0;
}
